body {
    font-family: 'Poppins', sans-serif;
    height: 1500px;
}

.nav-item a {
    color: #007bff !important;
    padding: 0.6rem !important;
}

.nav-item a:hover {
    color: #fff !important;
    background-color: #007bff !important;
}

textarea {
    resize: none;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
}