.hero, .form-newsletter {
    margin-left: 5%;
    margin-top: 5%;
}

.hero {
    padding-left: 10px;
}

.header p {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 20px;
}
.link-hero a {
    padding: 8px;
    text-decoration: none;
    color: black;
    margin-right: 12px;
    border: 1px solid;
    border-radius: 5px;
}

.img-hero img {
    margin-top: 14px;
    width: 500px;
}

.link-hero a:hover {
   color: white;
   background-color: black;
}

.form-newsletter p {
    font-size: 12px;
}

textarea {
    resize: none;
}

#form-submit {
    padding: 8px;
    text-decoration: none;
    color: black;
    margin-right: 12px;
    border: 1px solid;
    border-radius: 5px;
}

#form-submit:hover {
    color: white;
   background-color: black;
}

footer {
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
}